@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./css/variables.css";
@import "./css/card.css";
@import "./css/bloco.css";
@import "./css/hud.css";
@import "./css/button.css";
@import "./css/historico.css";
@import "./css/aguardar.css";
@import "./css/escolha.css";
@import "./css/seta.css";
@import "./css/pages.css";
@import "./css/hud-menu.css";
@import "./css/input.css";
@import "./css/topo.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--purple-2);
  padding: 10px;
}

header {
  /* background-color: var(--purple-2); */
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
  /* border-bottom: solid 1px #FFFFFF55; */
  /* font-size: 0.8em; */
  color: #4caf50;
  font-weight: 900;

}

header img{
  width: 20px;
}  


main {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  color: white;
}

/* section { */
/* margin: 1em 0; */
/* } */

/* button,
input {
  background-color: var(--pink);
  border-radius: 5px;
  color: white;
  border: none;
  padding: 0.5em 2em;
  cursor: pointer;
  font-size: large;
} */

/* input {
  background-color: var(--purple-1);
  outline: none;
  text-align: center;
} */

.t-left{text-align: left;}
.t-right{text-align: right;}