# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

.docker/mysql
.docker/postgres
.docker/rabbitmq
.docker/redis
.docker/dumps
.docker/mongodb
.php_cs.cache
.php-cs-fixer.cache
.xdebug
.vscode