.stats * {
  font-size: 1em;
  font-weight: 700;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-1);
  padding: 1em;
  border-radius: 5px;
}
.stats button {
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--gray-3);
  border-radius: 1em;
  border: none;
}
