:root {
  --dark-blue-1: #0d1015;
  --dark-blue-2: #13161e;
  --gray-1: #313642;
  --gray-2: #272d36;
  --gray-3: #242935;
  --blue-1: #2383f6;
  --pink-1: #fa305c;
  --orange-1: #fe8e28;
  --orange-2: #f57907;
  --white: #ffffff;
  --yellow: #ffcd3a;
  --red-1: #d72630;
  --red-2: #c02126;
  --red-3: #af4236;
}
