.hud {
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr; */
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 100%;
  overflow: hidden;
  margin: 20px auto;
}

.hud > *{
  width: 100%;
}

.hud > input{
  padding: 0px;
}

/* .hud > *:nth-child(1){
  background-color: blue;
  grid-column: 1/2;
}

.hud > *:nth-child(2){
  background-color: purple;
  grid-column: 2/3;
}

.hud > *:nth-child(3){
  background-color: rgb(3, 124, 98);
  grid-column: 3/4;
} */

.btn_apostar {
  grid-column: 1/6;
}
