.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: 1.2em; */
  font-weight: bold;
  margin: 0px;
  box-shadow: 0px 0px 0px 2px var(--brown-0);
  border-radius: 5px;
  padding: 5px 10px;
  position:relative;
  /* min-width: 160px; */
  max-width: 100%;
  width: 150px;
}

.info::after{
  content: attr(data-msg);
  position: absolute;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--brown-2);
  padding: 0 5px;
  /* right: 5px; */
  /* bottom: -10px; */
  left: 9px;
  top: -9px;
}

.info div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info img {
  height: 30px;
  width: 30px;
  z-index: 5;
  position: relative;
}
