.bloco {
  background-color: var(--purple-3);
  display: flex;
  align-items: center;
  padding: 10px;
  height: 250px;
  position: relative;
  border-radius: 5px 5px 0 0;
  /* margin-top: 1em; */
  width: 1000px;
  max-width: 100%;
  /* flex: 1; */
}

.bloco .cards {
  display: flex;
  gap: 10px;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
}

.bloco .aguardar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  height: 70px;

  display: flex;
  justify-content: center;
}
