.btn {
  /* padding: 0px; */
  padding: 0.3em 1em;
  /* width: 40px; */
  /* height: 40px; */
  /* border-radius: 5px; */
  outline: none;
  border: none;
  color: #555;
  transition: 0.2s;
}

.btn-white {
  background-color: var(--white-1);
  color: var(--white-2);
}

.btn-green {
  background-color: var(--green-1);
  color: var(--green-2);
}

.btn-blue {
  background-color: var(--blue-2);
  color: var(--blue-1);
}

.btn-pink {
  background-color: var(--pink-1);
  color: var(--pink-3);
  color: #FFFFFF;

}

.btn-pink-outline {
  box-shadow: 0px 0px 0px 1px var(--pink);
  color: var(--white);
  background-color: transparent;
}

.btn-pink-outline:hover{
  background-color: var(--pink);
  cursor: pointer;
}



/* parte 2 */
.btn-outline {
  background-color: transparent;
  padding: 5px 20px;
  font-weight: bold;
}

.btn-outline-green {
  color: var(--green-1);
}

.btn-outline-blue {
  color: var(--blue-1);
}

.btn-outline-white {
  color: var(--white-1);
}

.btn-choice{
  /* opacity: 0.5; */
}

.btn-active {
  /* box-shadow: 0px 0px 0px 3px var(--white-1); */
  box-shadow: inset 0px 0px 0px 2px var(--pink);
  /* outline: solid white 3px; */
  scale: 1.2;
  opacity: 1;
  font-weight: 700;
  transition: 0.2s;
}

.btn-outline:hover {
  background-color: var(--purple-1);
}
