:root {
  --blue-1: #81c0ff;
  --blue-2: #0064c8;

  --green-1: #1ed760;
  --green-2: #00551e;

  --white-1: #ffffff;
  --white-2: #9a9a9a;

  --purple-1: #2d294e;
  --purple-2: #1e1c36;
  --purple-3: #1b172d;

  --pink: #ee2c5b;
  --pink-1: #ee2c5b;
  --pink-2: #c41f48;
  --pink-3: #ffb0c4;
}
